[Unit]
Description=Akhar apply nftables + reload nginx
After=network-online.target nftables.service
Wants=network-online.target
[Service]
Type=oneshot
ExecStart=/usr/local/bin/Akhar --apply
[Install]
WantedBy=multi-user.target
